fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pandas
numpy
python-dateutil
matplotlib
plotly
langchain
langchain-core
langchain-community
langchain-experimental
langchain-groq
groq
aiohttp==3.9.5
langgraph
langsmith
streamlit
requests
