fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pandas
numpy
python-dateutil
matplotlib
plotly
langchain
langchain-core
langchain-community
langchain-experimental
langchain-groq
langgraph
langsmith
groq
